asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
asyncio==3.4.3
attrs==23.2.0
Authlib==1.3.0
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cloud-init-gen==1.2.0
cramjam==2.8.3
cryptography==42.0.5
Django==4.1.13
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
django-cors-headers==4.3.1
djongo==1.3.6
dnspython==2.6.1
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-vision==3.7.2
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
idna==3.7
jsonpatch==1.33
jsonpointer==2.4
proto-plus==1.23.0
protobuf==4.25.3
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pykerberos==1.2.4
pymongo==3.12.1
python-dotenv==1.0.1
python-snappy==0.7.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
setuptools==69.5.1
six==1.16.0
soupsieve==2.5
sqlparse==0.2.4
urllib3==2.2.1
wheel==0.43.0
