body {
    margin: 0;
    background-color: white ;
    min-height: 100vh;
}

nav{
    color:white;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 1px solid white;
}

nav h1 {
    padding: 1em;
    color: #edede9;
}
nav div a{
    
    color: white;
    text-decoration: none;
    padding: 1em;
}

nav div a:hover{
    color: #f4a261;
    text-decoration: none;
    padding: 1em;
    transition: color 200ms ease-in-out;
}

nav div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
