<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Alpes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'cargaDocs.css' %}">
</head>

<body>
    <nav>
        <h1>Banco Alpes</h1>
        <div>
            <a href="">TDC</a>
            <a href="/documentos/documentosCarga">Cargar Documentos</a>
            <a href="">Firmar</a>
        </div>

    </nav>

    <main style="margin-top: 8rem;">
        <section id="cargarDocumentos">
            <div class="headerCard">
                Ha ocurrido un problema, vuelve a intentarlo
            </div>


        </section>
    </main>

</body>

</html>