<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Documentos</title>
</head>
<body>
    <nav>
        <h1>Banco Alpes</h1>
        <div>
            <a href="">Solicitar tarjeta de crédito</a>
            <a href="/documentos/documentosCarga">Cargar Documentacion</a>
            <a href="">Firmar Documentacion</a>
        </div>
        
    </nav>
    <main>
        <section id="cargarDocumentos">

        </section>
    </main>
    
</body>
</html>