<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Alpes</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'cargaDocs.css' %}">
</head>

<body>
    <nav>
        <h1>Banco Alpes</h1>
        <div>
            <a href="">TDC</a>
            <a href="/documentos/documentosCarga">Cargar Documentos</a>
            <a href="">Firmar</a>
        </div>

    </nav>

    <main style="margin-top: 1rem;">
        <section id="cargarDocumentos">
            <div class="headerCard">
                <h2>Cargar Documentos</h2>
                <a href="">X</a>
            </div>
            <div class="bodyCard">
                
            </div>


            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <h4>Adjunte la cara frontal de su documento de identidad</h3>
                <input type="file" name="ccFrontal">
                <br>
                <h4>Adjunte la cara trasera de su documento de identidad</h3>
                <input type="file" name="ccTrasera">
                <br>
                <h4>Adjunte el primer desprendible de pago</h3>
                <input type="file" name="desprendiblePago1">
                <br>
                <h4>Adjunte el segundo desprendible de pago</h3>
                <input type="file" name="desprendiblePago2">
                <input type="submit" value="Enviar" />
            </form>

            <div style="margin-top: 10px;">
                <h3>Documentos subidos</h3>
                {% for doc in documentosSubidos %}
                <li>{{ doc }}</li>
                {% endfor %}
            </div>

        </section>
    </main>

    {% if docsExitosos %}

    <script>
        alert("Documentos subidos exitosamente");
    </script>

    {% endif %}

</body>

</html>