
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Alpes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav>
        <h1>Banco Alpes</h1>
        <div>
            <a href="">TDC</a>
            <a href="/documentos/documentosCarga">Cargar Documentos</a>
            <a href="">Firmar</a>
        </div>
        
    </nav>
    
</body>
</html>