<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Alpes</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
     <link rel="stylesheet" href="{% static 'cargaDocs.css' %}">
</head>
<body>
    <nav>
        <h1>Banco Alpes</h1>
        <div>
            <a href="">TDC</a>
            <a href="/documentos/documentosCarga">Cargar Documentos</a>
            <a href="">Firmar</a>
        </div>
        
    </nav>
    <main>
        <section id="cargarDocumentos">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    
</body>
</html>